@charset "utf-8";
/* CSS Document */
.gWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	height: 39px;
}
.header img{
	float: left;
	margin-top: 8px;
}
.header .f1{
	margin-left: 21px;
	line-height: 39px;
	float: left;
	font-family: "宋体";
	font-size: 12px;
	color: black;
	margin-top: 0px;
}
.header .f2{
	float: right;
	margin-right: -100px;
	font-family: "宋体";
	font-size: 12px;
	color: #0B26AE;
	margin-top: 13px;
}
.header p{
	float: right;
	font-family: "宋体";
	font-size: 12px;
	color: black;
	margin-top: 13px;
}
.banner{
	height: 352px;
	border: 1px solid #E8E8E8;
}
.con1 img{
	margin-top: 26px;
}
.con1 ul{
	width: 531px;
	height: 44px;
	border-bottom: 1px solid #6C6C6C;
	margin-top: 16px;
}
.con1 li a{
	line-height: 44px;
	font-family: "宋体";
	float: left;
	font-size: 12px;
	margin-right: 30px;
	color: #097C25;
}
.con2 p{
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 34px;
	color: #097C25;
}
.con2 h5{
	font-family:"幼圆";
	font-size: 24px;
	margin-top: 15px;
	font-weight: bold;
	margin-bottom: 12px;
}
.con2 li span{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666666; 
	float: left;
}
.con2 li p{
	font-size: 14px;
	float: left;
	font-family: "微软雅黑";
	margin-top: 0px;
}
.con2 li{
	height: 28px;
	
}
.con3 li {
	list-style:disc;
	margin-left:10px;
	margin-top: 10px;
}
.con3{
	margin-top: 35px;
}
.con3 li span{
	font-weight: bold;
	font-size: 16px;
	font-family: "宋体";
}
.con3 li a{
	font-size: 16px;
	font-family: "宋体";
}
.con4{
	width: 410px;
	height: 640px;
	float: right;
	margin-top: -630px;
	margin-right: 250px;
}
.con4 h5{
	font-family: "宋体";
	font-size: 12px;
	color: #009E47;
}
.con4 h4{
	font-weight: bold;
	font-family: "宋体";
	font-size: 18px;
	text-align: center;
}
.con4 h4 span {
	font-family: "宋体";
	font-size: 34px;
	color: #009E47;
	padding: 0px 14px;
}
.con4 p{
	font-family: "宋体";
	font-size: 12px;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 16px;
}
.con4 p em{
	color: #009E47;
	font-style: normal;
}
.con4 .f3{
	width: 410px;
	height: 547px;
}
.con4 img{
	margin-top: 10px;
}
.con4 .f4{
	float: right;
	margin-top: -130px;
}
.con4 .f5{
	float: left;
}
.con5 {
	height: 260px;
	background-color:#F5F5F5; 
	margin-top: 73px;
}
.con5 .f6{
	width: 490px;
	height: 190px;
	
}
.con5 .f6 h5{
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	color: #097C25;	
}